<div ng-controller="PatientDashboardLabOrdersController" class="dashboard-laborders-section">

    <h2 ng-dialog="views/dashboardSections/labSummary.html"
        ng-dialog-class="ngdialog-theme-flat ngdialog-theme-custom"
        ng-dialog-controller="PatientDashboardLabSummaryController" class="section-title">{{section.title}}</h2>
    <section class="block" ng-class="{'more': patientSummary.show}">
        <p class="placeholder-text" ng-if="!hasLabOrders()">{{ patientSummary.message }}</p>

        <div ng-if="hasLabOrders()">
            <table ng-repeat="labOrderResults in labAccessions" bindonce="labAccessions">
                <tbody ng-repeat="labOrderResult in labOrderResults" ng-show="showNormalLabResults || hasAbnormalTests(labOrderResult)">
                    <tr ng-if="labOrderResult.isPanel " class="header">
                        <td colspan="2"><strong>{{labOrderResult.orderName}}</strong></td>
                    </tr>
                    <tr lab-order-line test="test" ng-if="labOrderResult.isPanel" ng-show="showNormalLabResults || test.abnormal" ng-repeat="test in labOrderResult.tests">
                    </tr>

                    <tr lab-order-line test="labOrderResult" ng-if="!labOrderResult.isPanel" ></tr>
                </tbody>
            </table>
        </div>
    </section>
</div>