<div ng-controller="PatientDashboardLabOrdersController" class="dashboard-laborders-section">

    <h2 ng-dialog="views/dashboardSections/labSummary.html"
        ng-dialog-class="ngdialog-theme-flat ngdialog-theme-custom"
        ng-dialog-controller="PatientDashboardLabSummaryController" class="section-title">{{section.title}}</h2>
    <section class="block" ng-class="{'more': patientSummary.show}">
        <p class="placeholder-text" ng-if="!hasLabOrders()">{{ patientSummary.message }}</p>

        <div ng-if="hasLabOrders()">
            <table ng-repeat="labOrderResults in labAccessions" bindonce="labAccessions">
                <tbody lab-order-line test="labOrderResult" ng-repeat="labOrderResult in labOrderResults"
                       ng-show="showNormalLabResults || hasAbnormalTests(labOrderResult)">
                </tbody>
            </table>
        </div>
    </section>
</div>