<header class="template-header">
    <button class="ngdialog-close back-btn">Back</button>
    <h5>
        <i class="icon-user"></i>
        <span>{{patient.name}} {{'(' + patient.identifier + ')'}}</span>
    </h5>
    <h6>All Lab Results</h6>
</header>

<div ng-show="labResults.tabular">
    <div ng-hide="labResults.tabular.hasOrders()" class="messages">
        <p class="messages null-data-message">No Lab Orders for this patient.</p>
    </div>
    <div class="template-container" ng-show="labResults.tabular.hasOrders()">
        <investigation-results params="labOrderControlParameters"></investigation-results>
    </div>
</div>